<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
	{% block title %}
	<title>main</title>
	{% endblock %}
</head>
<body>
	<div class="main">
		<img id="logo" src="{{ url_for('static',filename='img/logo.png')}}">
		{% block form%}
		<form action="{{ url_for('index') }}" method="post">
			<p><input type="text" class="text" name="id" placeholder="아이디"></p>
			<p><input type="password"class="text" name="pwd" placeholder="비밀번호"></p>
			<p><input type="submit"class="click" value="로그인">
			</p>
		</form>
		<a href="{{ url_for('register')}}"><button class="click">회원가입</button></a>
		{% endblock %}
	</div>
</body>
</html>